

.header{
    background-color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: azure;
    border-radius: 30px;
    font-style: italic;

}
h1{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
   
}
.mat-button {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-left: 10%;
   
}
.mat-icon{
    
  margin:10px;
}
.mat-menu-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
    
}
.imagem{
    width:100%;
     height:600px;
     object-fit: cover;
     border-radius:10px;
  
}
h2{
    margin: 10px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#fff;
   
    text-align: center;
    height: 60px;
    position: relative;

}
.mat-card{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 130px;
    float:left;
    margin-left: 13%;
    border: 2px solid #fff;
    background-color: chocolate;
    color: #fff;

}
.img{
width: 400px;
height:300px;
border-radius: 10px;
margin-left: 10%;
position: relative;
top: 30px;
box-shadow: 3px 3px 6px black;

}

p{
color:#fff;
font-size:25px;
font-family:Georgia, 'Times New Roman', Times, serif;
float:right;
text-align:justify;
vertical-align: middle;
position: relative;
top: 40px;
width: 400px;
height: 500px;
right: 20%;

}
h3{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    position: relative;
    top:5px;


}
.footer{
   
    height: 410px;
   background-color: chocolate;
    line-height:24px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
    width: 30%;
    margin: 0 auto;
    float: left;
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.596);
    border: 1px solid rgb(20, 20, 20);
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
button{
    border-radius: 5px;

    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}


