<div class="header">
    <a class="logo"> <h1>VOE GO
    </h1> </a>
    
    <button mat-button [matMenuTriggerFor]="aboveMenu"><mat-icon>menu</mat-icon>MENU</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
 
 
  <button mat-menu-item>Viagens Nacionais</button>
  <button mat-menu-item>Viagens Internacionais</button>

  
</mat-menu>

<button mat-button color="primary">Nossos Clientes</button>
<button mat-button color="primary">Sobre Nós</button>
<button mat-button color="primary">Contato</button>
</div>

<img src="assets/imagem.jpg/" class="imagem">
<h2>Sobre Nós</h2>
<mat-card class="example-card">
    <mat-card-title>Missão</mat-card-title>
    
    <mat-card-content>
<h4>Somos a maior agencia de viagens  e , nossa missão é criar experiências de viagem que enriquecem a vida de nossos clientes.</h4>
     
    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Visão</mat-card-title>
    
    <mat-card-content>
      <h4>Ser uma empresa sólida e confíavel, a fim de ser reconhecida pelos nossos esforços e  comprometimento ao cliente . </h4>
      
    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Valores</mat-card-title>
    
    <mat-card-content>
      <h4>Nossos Valores são  baseados de acordo com o que acreditamos e queremos transmitir, compromisso ética Dedicação e Confiabilidade.</h4>
     
    </mat-card-content>
    
  </mat-card>
  <div class="right">
<img src="assets/imagem1.jpg" class="img">
<p> Viajar conosco é aproveitar cada momento sem preocupação é viver de fato uma aventura unica e prazerosa.
  Oferecemos conforto rapidez agilidade, tudo isso você encontra na Voe Go,junto com nossos pacotes de estadia com nossas parcerias de Hotéis mais incrivéis.
  E ainda Nesse mês estamos com desconto surreais para viagens internacionais A proveitem , não fique de fora.


</p>
</div>
<br><br>
<div class="footer">
 
  <div class="row">
    <h3> Fale Conosco
    </h3>

            <form class="formulario">
            <label for="inputnome">Nome:</label>
            <input type="text"  id="inputnome">
            <label>Email:</label>
            <input type="inputEmail"  id="inputEmail">
            <label>Telefone:</label>
            <input type="tel" name="number" id="telefone">
            <label for="textAreaMensagem">Mensagem:</label>
            <textarea name="textAreaMensagem"  id="textAreaMensagem"></textarea>
            <button>Enviar  </button>

        </form></div>


</div>






